
ProjektUtopia/.vs/
ProjektUtopia/ProjektUtopia/bin/
ProjektUtopia/ProjektUtopia/obj/
ProjektUtopia/ProjektUtopia/App.config
ProjektUtopia/ProjektUtopia/App.config
ProjektUtopia/ProjektUtopia/App.config
*.config
