
ProjektUtopia/.vs/ProjektUtopia/v16/Server/sqlite3/storage.ide-wal
ProjektUtopia/.vs/ProjektUtopia/v16/.suo
ProjektUtopia/.vs/ProjektUtopia/v16/Server/sqlite3/db.lock
ProjektUtopia/.vs/ProjektUtopia/v16/Server/sqlite3/storage.ide
ProjektUtopia/.vs/ProjektUtopia/v16/Server/sqlite3/storage.ide-shm
